{% extends 'base.html.twig' %}

{% block title %}FoodTruck App {% endblock %}

{% block body %}
{#  todo add style in a style file #}
    <style>
        #date{
            font-size: large;
            margin-left: 20px!important;
            margin-right: 20px!important;
            text-align: center;
        }
        .font{
            font-size: xxx-large;
            font-weight: bold;
        }
        body{
            background: #007991;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }

    </style>

    <div class="container mt-lg-5 {#badge-light#}">
        <h1 class="text-primary mt-lg-3">
            <label for="CurrentWeek" class="{#badge-light#} d-flex justify-content-center"><span class="text-light">Current Week</span>
                <a href="/" id="date" style="font-size: 30px;"><i class="fa fa-chevron-down"></i>
                </a>
            </label>
        </h1>
        <br>
        <div class="navDate d-flex justify-content-center mt-lg-2">
            <a href="/?date={{ lastMonday }}" id="date"> <i class="fa fa-arrow-circle-left font"></i> </a>
            <label class="badge-dark pt-3 pb-3 pl-5 pr-5 rounded" for="dateIntervals" id="date"> From
                : {{ currentMonday }}
                <span class="ml-5"> </span> To : {{ currentFriday }} </label>
            <a href="/?date={{ nextMonday }}" id="date"> <i class="fa fa-arrow-circle-right font"></i> </a>
        </div>

{#        todo add new file name table #}
        <center class="mt-lg-5">
            <h1 style="font-weight: bold;color:lightblue;">Matin</h1>
        </center>
        <table class="table table-hover table-dark mt-lg-5">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lundi</th>
                <th scope="col">Mardi</th>
                <th scope="col">Mercredi</th>
                <th scope="col">Jeudi</th>
                <th scope="col">Vendredi</th>
            </tr>
            </thead>
            <tbody>
            {% for emplacment,reservation in reservationList %}
                <tr>
                    <th scope="row">{{ emplacment }}</th>

                    {% for day in reservation %}
                        {% if day is same as (true) %}
                            <td>✔️</td>
                        {% elseif day is same as (false) %}
                            <td>❌</td>
                        {% else %}
                            <td><i class="fa fa-ban" style="color: red;font-size: medium"></i></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <center>
            <h1 style="font-weight: bold;color:lightblue;">Soir</h1>
        </center>

        <table class="table table-hover table-dark mt-lg-5">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lundi</th>
                <th scope="col">Mardi</th>
                <th scope="col">Mercredi</th>
                <th scope="col">Jeudi</th>
                <th scope="col">Vendredi</th>
            </tr>
            </thead>
            <tbody>
            {% for emplacment,reservation in reservationListSoire %}
                <tr>
                    <th scope="row">{{ emplacment }}</th>

                    {% for day in reservation %}
                        {% if day is same as (true) %}
                            <td>✔️</td>
                        {% elseif day is same as (false) %}
                            <td>❌</td>
                        {% else %}
                            <td><i class="fa fa-ban" style="color: red;font-size: medium"></i></td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock %}
